@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
/* change le box model */
    box-sizing: border-box;
    background-color: rgb(9, 0, 26);
    color: white;
}

img {
    /* image responsive, largeur maxi */
    max-width: 100%;
    /* hauteur "auto" */
    height: auto;
}

.carrousel_parent-ecrans {
    /* aligne horizontalement les enfants */
    display: flex;
    /* largeur du parent */
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    /* largeur du parent pour chaque enfant */
    width: 100%;
    /* permet de garder toute la largeur du parent */
    flex: none;
    scroll-snap-align: start;
}

.carrousel_ecran figure {
    /* enlève les marges par défaut */
    margin: 0;
}
.carrousel {
    position: relative;
}

.carrousel_btn {
    margin-top: 57.5px;
    position: absolute;
    top: calc(100vw / 16 * 9 / 2 + 1rem);
    /* centre verticalement ~50% vertical */
    transform: translateY(-50%);
    /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    
}

.carrousel_btn-avant {
    left: 0;
}

.carrousel_btn-apres {
    right: 0;
}
.caroussel_liste-liens {
    /* aligne horizontalement les enfants */
    display: flex;
    /* centre horizontalement les enfants */
    justify-content: center;
    /* enlève les marges par défaut */
    margin: 0;
    /* enlève les padding par défaut */
    padding: 0;
    /* enlève les puces par défaut */
    list-style: none;
    /* espace entre les enfants */
    gap: 1rem;
}
.carrousel figcaption{
    font-size: 10px;
}
.carrousel h2{
    font-size: 30px;
    margin: 10px;
    font-family: 'Kaushan Script', cursive;
}
.carrousel a{
    color: rgb(255, 204, 0);
    text-decoration: none;
    font-size: 8px;
}